/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "font-awesome/variables";
@import "font-awesome/font-awesome";
@import "scss/variables";
@import "www/templates/menu/menu";
@import "www/templates/home/tabs/home-tabs";
@import "www/templates/home/tabs/tab-latest/tab-latest";
@import "www/templates/home/tabs/tab-popular/tab-popular";
@import "www/templates/home/tabs/tab-hot/tab-hot";
@import "www/templates/home/tabs/tab-trending/tab-trending";
@import "www/templates/single-post/single-post";
@import "www/templates/category/category";
@import "www/templates/top-ten/top-ten";
@import "www/templates/profile/profile";
@import "www/templates/search/search";
@import "www/templates/auth-popup/auth-popup";
@import "www/templates/choose-category-popup/choose-category-popup";
@import "www/templates/user-popover/user-popover";
@import "www/templates/new-post/new-post";
@import "scss/media-queries";

