// Media Queries
/* iPhone 4 */
@media only screen and (max-height: 480px) {

}
/* iPhone 5 */
@media only screen and (max-width: 320px) {
  .allLinks {
    min-width: 100%;
  }
  .like-buttons button::before {
    line-height: 29px!important;
    font-size: 18px;
  }
  .like-buttons {
    button {
      min-width: 29px !important;
      width: 29px !important;
      height: 29px!important;
      min-height: 29px!important;
      padding: 0 3px !important;
    }
    span {
      font-size: 14px;
      margin-left: 3px;
    }
    .comment-button {
      width: 49px !important;
      margin-left: 3px;
      padding-left: 3px !important;
      padding-right: 3px !important;
    }
  }
  // Add Post Page
  .add-media-btn-second span {
    font-size: 12px;
  }
}