@import url(https://fonts.googleapis.com/css?family=Poppins);
$header: white; // header color
$greyBackground: #ededed; // grey background
$poppinsFont: 'Poppins', sans-serif;
$titleBlack: #37474f;
$appBlue: #1976d2;
$greyFont: #b0bec5;

body {
  font-family: $poppinsFont;
}
.no-padding {
  padding: 0 !important;
}
.herald-loader {
  background: #fff;
  position: fixed;
  padding-top: 25vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  z-index: 9999;
}
/*LOADER*/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color:#1976d2 !important;
  font-size: 12px !important;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}