.top-ten-classes a {
  color: #ffffff;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0 !important;
}
.button-first {
  background-color: #ffa726 !important;
}
.button-second {
  background-color: #ffb742;
}
.button-three {
  background-color: #ffcc80;
}
.title-top-ten {
  margin-top:20px;
  margin-bottom: 20px;
}
.img-without-card {
  width: 100%;
}