<ion-view>
    <ion-content class="content-top-ten">
        <!--<div class="title-top-ten">-->
            <!--<h3><b>NAJBOLJIH 10</b></h3>-->
        <!--</div>-->
        <!--<hr size="1px" color="#e6e6e6">-->
        <div class="button-bar top-ten-classes padding">
            <a class="button button-first" ng-click="goToFirst()">DANAS</a>
            <a class="button button-second" ng-click="goToSecond()">OVE NEDELJE</a>
            <a class="button button-three" ng-click="goToThree()">ALL TIME</a>
        </div>
        <ion-refresher
                pulling-text="Učitavanje..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-if="isLoading" class="loader">Loading...</div>
        <div ng-repeat="post in posts">
            <div class="card card-top-padding" ng-click="goSingle(post)">
                <div class="row card-img-padding">
                    <div class="col card-img-padding">
                        <img ng-src="{{post._embedded['wp:featuredmedia'][0].source_url}}" alt="Post featured image">
                    </div>
                </div>
                <div class="row custom-name-row">
                    <div class="col-80">
                        <h2 class="post-title" ng-bind-html="post.title.rendered"></h2>
                    </div>
                    <div class="col text-right">
                        <div class="category-circle"></div>
                    </div>
                </div>
                <div class="author-row padding">
                    <div class="author-image"></div>
                    <div class="author-info">
                        <div class="author-name">autor <span>{{post._embedded.author[0].name}}</span></div>
                        <div class="author-date">{{post.date | amCalendar:referenceTime:formats}}</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col like-buttons">
                        <button class="button icon ion-chevron-up custom-like-button" ng-click="post.points = post.points + 1"></button>
                        <button class="button icon ion-chevron-down custom-like-button" ng-click="post.points = post.points - 1"></button>
                        <span>{{post.points}}</span>
                        <button ng-click="$event.stopPropagation(); goSingleComments(post)"
                                class="button icon icon-left ion-ios-chatbubble-outline custom-comment comment-button">{{post.comments_count}}
                        </button>
                    </div>
                    <div class="col text-right social-btns">
                        <button class="button icon ion-social-facebook btn-facebook"
                                ng-click="$event.stopPropagation(); fbShare(post.link)"></button>
                        <button class="button icon ion-social-twitter btn-twitter"
                                ng-click="$event.stopPropagation(); twitterShare(post.link)"></button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>