.home-content {
  background: $greyBackground;
}
.card-top-padding {
  //padding-top: 1rem;
  border-radius: 6px!important;
}
.custom-name-row {
  padding-top: 10px!important;
}
.card-img-padding {
  padding: 0px !important;
}
.card img {
  width: 100%;
}
.post-title {
  font-size: 24px;
  line-height: 1.067;
  font-family: $poppinsFont;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: $titleBlack;
}
.category-circle {
  background: #ffa726;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: right;
}
.author-row {
  margin-top: 0px;
}
.author-image {
  background: #cccccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
.author-info {
  font-size: 13px;
  font-family: $poppinsFont;
  color: #999;
}
.author-info span {
  color: #000;
}
.author-date {
  margin-top: -4px;
}
.card hr {
  margin: 0;
  margin-bottom: 10px;
}
.like-buttons {
  button {
    min-width: 37px !important;
    min-height: 37px !important;
    max-height: 37px;
    padding: 0 7px !important;
  }
  button::before {
    line-height: 37px !important;
  }
  span {
    line-height: 40px;
    font-size: 14px;
    color: #444;
    font-weight: 600;
    margin-left: 3px;
  }
  .comment-button {
    font-size: 12px;
    line-height: 38px;
    font-weight: bold;
    color: #999;
    margin-left: 5px;
  }
  .comment-button::before {
    font-size: 19px;
  }
}

.social-btns {
  button {
    color: #ffffff;
    min-width: 65px !important;
    min-height: 37px !important;
    max-height: 37px;
    line-height: 34px !important;
    font-size: 13px!important;
  }
  button::before {
    line-height: 37px !important;
    font-size: 22px!important;
  }
  .btn-facebook {
    background: #3b5998;;
  }
  .btn-twitter {
    background: #00aced;
  }
}
.custom-like-button {
  border-radius: 50%;
  border: 1px solid #1976d2;
  background-color: white;
  color: #1976d2;
}
.custom-comment {
  background-color: white;
  color: #b0bec5!important;
}
