.has-header {
  top: 50px !important;
}
ion-header-bar {
  height: 50px !important;
  .title {
    height: 50px !important;
    line-height: 50px !important;
    font-size: 20px !important;
    color:#1976d2;
  }
}
.platform-android .bar .title {
  line-height: 50px !important;
  text-align: center !important;
}
ion-nav-bar {
  .menu-btn {
    color: #ffffff !important;
  }
  .menu-btn::before {
    font-size: 50px !important;
    line-height: 38px !important;
    color: $titleBlack;
  }
  .header-color {
    background: $header;
  }
  .header-logo {
    vertical-align: middle;
    width: 114px;
  }
  .person-btn {
    @extend .menu-btn;
  }
  .person-btn::before {
    @extend .menu-btn::before;
    font-size: 36px!important;
  }
}
//MENU
.search-menu-input {
  border-radius: 5px !important;
}
.menu-search {
  height: 30px;
}
.menu-items ion-item {
  border: none;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 15px;
  color: #666;
  font-family: Poppins, sans-serif !important;
}
.number-10-item {
  font-size: 19px !important;
}
.kreiraj-btn {
  width: 80%;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px;
  background-color: #1976d2 !important;
}
.second-menu {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 700;
}
.second-menu-pic {
  font-size: 16px !important;
  color:rgba(193, 193, 193, 0.85);
}
.second-menu p {
  color: #666;
}
.social-icon-menu {
  color: #666;
  font-size: 28px !important;
}
.bar .back-button .icon::before {
  font-size: 40px !important;
  line-height: 50px !important;
  color: #ffffff;
}
.active-menu, .active-menu p, .active-menu i {
  color:#1976d2 !important;
}
.item.active.item-complex>.item-content {
  background-color: #fff;
}
.user-avatar-btn {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #cccccc;
  margin-top: 2px;
}
.menu-list-dropdown {
  font-size:13px;
  color: #666666 !important;
  font-weight: 500 !important;
}
//.ion-nav-bar .person-btn::before {
//  font-size: 32px!important;
//}