<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="header-color">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon menu-btn" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-title class="text-center">
                <img src="img/logo.png" class="header-logo">
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button ng-if="!isLoggedIn" class="button button-icon button-clear ion-person person-btn" ng-click="showAuthPopup()">
                </button>
                <div ng-click="popover.show($event)" ng-if="isLoggedIn" class="user-avatar-btn"></div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar>
            <div class="title"><i class="fa fa-times" aria-hidden="true" menu-toggle="left"></i></div>
        </ion-header-bar>
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input search-menu-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" class="menu-search" ng-model="searchQuery" ng-change="search(searchQuery)" ng-model-options='{ debounce: 1000 }'>
                </label>
            </div>
            <hr color="#e6e6e6" size="1px">
            <ion-list class="menu-items">
                <ion-item menu-close ui-sref="app.top-ten" ui-sref-active="active-menu" class="active-menu">
                    NAJBOLJIH <span class="number-10-item">10</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.home.latest" ui-sref-active="active-menu" class="active-menu">
                    NASLOVNA
                </ion-item>
                <ion-item menu-close ui-sref="app.category({id:category.id})" ng-repeat="category in categories" ui-sref-active="active-menu" class="active-menu">
                    <span>{{category.name}}</span>
                </ion-item>
            </ion-list>
            <hr color="#e6e6e6" size="1px">
            <center>
                <button ng-if="isLoggedIn" class="button button-positive kreiraj-btn" ng-click="goCreatePost()">
                    KREIRAJ
                </button>
                <button ng-if="!isLoggedIn" class="button button-positive kreiraj-btn" ng-click="showAuthPopup()">
                    KREIRAJ
                </button>
            </center>
            <div class="second-menu">
                <div class="row">
                    <div class="col-20 active-menu" menu-close ui-sref="app.home.latest" ui-sref-active="active-menu">
                        <center>
                            <div class="second-menu-pic">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </div>
                            <p>LATEST</p>
                        </center>
                    </div>
                    <div class="col-25 active-menu" menu-close ui-sref="app.home.popular" ui-sref-active="active-menu">
                        <center>
                            <div class="second-menu-pic">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p>POPULARNO</p>
                        </center>
                    </div>
                    <div class="col-33 active-menu" menu-close ui-sref="app.home.hot" ui-sref-active="active-menu">
                        <center>
                            <div class="second-menu-pic">
                                <i class="ion-fireball" aria-hidden="true"></i>
                            </div>
                            <p>NAJISTAKNUTIJE</p>
                        </center>
                    </div>
                    <div menu-close ui-sref="app.home.trending" ui-sref-active="active-menu" class="col-25 active-menu">
                        <center>
                            <div class="second-menu-pic">
                                <i class="ion-arrow-graph-up-right" aria-hidden="true"></i>
                            </div>
                            <p>U TRENDU</p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="social-icon-menu">
                <div class="row">
                    <div class="col">
                        <center>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </center>
                    </div>
                    <div class="col">
                        <center>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </center>
                    </div>
                    <div class="col">
                        <center>
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </center>
                    </div>
                    <div class="col">
                        <center>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </center>
                    </div>
                    <div class="col">
                        <center>
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </center>
                    </div>
                </div>
                <div class="col-25">
                    <center>
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </center>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>