h3 {
    font-weight: 700;
}
.single-cover {
    width: 100%;
}
.single-content img {
    max-width: 100%;
    height: auto;
}
.single-content-page {
    margin-left: 3%;
    margin-right: 3%;
}
.category-single {
    margin-top: 30px;
    background-color: rgb(232, 231, 231);
    width: auto;
}
.category-single p {
    text-align: center;
    font-weight: 700;
}
.author-image {
    background: #cccccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.stats-single-view {
    font-size: 18px;
    color: #b1b1b1;
}
.stats-single-color {
    font-weight: 700;
    color: #bf0029;
}
.number-comment {
    color: #000000;
}
.number-of-shares {
    color: #1976d2;
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
}
.shares-single-view {
    font-size: 10px;
    color:#b1b1b1;
}
.social-network-button {
    width: 100%;
    background-color: #2d5f9a;
    color:#ffffff;
    font-size: 20px;
}
.twitter-button {
    background-color: #00c3f3;
}
.tags-single-view span {
    color: #666;
    font-size: 14px;
}
.title-reaction {
    text-align: center;
    margin-top: 40px;
}
.points {
    border:1px solid #e6e6e6;
    height: auto;
    border-radius: 3px;
}
.points-position {
    text-align: center;
    font-size: 20px;
    color: #b1b1b1;
}
.arrow-points {
    font-size: 40px;
}
.number-points {
    font-weight: 700;
    color: #6a676b;
}
.points-text-number {
    font-size: 12px;
    color: #6a676b;
}
.leave-replay-button {
    background-color: #1976d2 !important;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
}
.desc-comment {
    color: #666;
    margin-top: 6px;
}
.comment-time {
    color: #535353;
}
.connect-with-fb {
    font-weight: 700;
    background-color: #2d5f9a !important;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.social-fb-icon {
    font-size: 20px;
}
.desc-comments-add {
    margin-top: 30px;
}
.comments-in-comment textarea {
    width:100%;
    border:1px solid #e6e6e6;
    border-radius: 3px;
}
.input-name-comment input {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.button-post-comment button {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1976d2 !important;
}
.cancel-replay {
    color:#1976d2;
    font-size: 17px;
}
.replay-comment-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
}