<ion-view>
    <ion-nav-bar class="header-color">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-back menu-btn" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
        <ion-nav-title class="text-center">
            <img src="img/logo.png" class="header-logo">
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button ng-if="!isLoggedIn" class="button button-icon button-clear ion-person person-btn" ng-click="showAuthPopup()">
            </button>
            <div ng-click="popover.show($event)" ng-if="isLoggedIn" class="user-avatar-btn"></div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="single-content-page" delegate-handle="scroll">
        <div class="col-33 category-single">
            <p>{{post._embedded['wp:term'][0][0].name}}</p>
        </div>
        <h3 ng-bind-html="post.title.rendered"></h3>
        <hr size="1px" color="#e6e6e6">
        <div class="author-row padding">
            <div class="author-image"></div>
            <div class="author-info">
                <div>autor <span><b>{{post._embedded.author[0].name}}</b></span></div>
                <div class="author-date">{{post.date | amCalendar:referenceTime:formats}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col stats-single-view">
                <span class="stats-single-color">
                    <i class="icon ion-arrow-graph-up-right"></i>
                    35
                </span>
                <span>Pregleda</span>
            </div>
            <div class="col stats-single-view" ng-click="goComments()">
                <i class="fa fa-comment" aria-hidden="true"></i>
                <span class="number-comment">{{post.comments_count}}</span>
            </div>
            <div class="col stats-single-view">
                <span class="stats-single-color">
                    <i class="ion-fireball" aria-hidden="true"></i>
                    35
                </span>
                <span>Pregleda</span>
            </div>
        </div>
        <img ng-src="{{post._embedded['wp:featuredmedia'][0].source_url}}" alt="Post featured image"
             class="single-cover">
        <div class="row">
            <div class="col single-content">
                <div ng-bind-html="post.content.rendered"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-20">
                <center>
                    <span class="number-of-shares">0</span><br>
                    <span class="shares-single-view">SHARES</span>
                </center>
            </div>
            <div class="col">
                <button class="button social-network-button" ng-click="fbShare()">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col">
                <button class="button social-network-button twitter-button" ng-click="twitterShare()">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="tags-single-view" ng-if="post.tags.length">
            <span ng-repeat="tag in post.tags">#{{tag.name}} &nbsp</span>
        </div>
        <div class="title-reaction">
            <h3>TVOJA REAKCIJA?</h3>
        </div>
        <div class="title-reaction">
            <h3>ŠTA MISLIŠ</h3>
        </div>
        <div class="points">
            <div class="row points-position">
                <div class="col arrow-points">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <span class="number-points">0</span><br>
                    <span class="points-text-number">points</span>
                </div>
                <div class="col arrow-points">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="title-reaction" id="comments">
            <h3>{{post.comments_count}} KOMENTARA</h3>
        </div>
        <div>
            <button class="button button-block button-positive leave-replay-button" ng-click="goSingleCommentsScroll()">
                POSTAVI KOMENTAR
            </button>
        </div>
        <div class="author-row padding" ng-repeat="comment in post.comments">
            <div class="author-image"></div>
            <div class="">
                <div><b>{{comment.author_name}}</b></div>
                <div class="comment-time">{{comment.date | amCalendar:referenceTime:formats}}</div>
            </div>
            <div class="desc-comment">
                <p ng-bind-html="comment.content.rendered"></p>
            </div>
            <div>
                <p ng-click="makeReplyAvailable(comment)">Odgovori</p>
            </div>
            <div ng-if="comment.isNewReply">
                <div class="title-reaction">
                    <h3>POSTAVI KOMENTAR <span class="cancel-replay" ng-click="makeReplyUnavailable(comment)">CANCEL REPLY</span></h3>
                </div>
                <div class="desc-comments-add">
                    <p>Your email address will not be published. Required fields are marked*</p>
                </div>
                <form name="newReplyForm">
                    <div class="comments-in-comment">
                        <textarea rows="8" placeholder="Comment*" aria-required="true" ng-model="comment.newReply.content" required></textarea>
                    </div>
                    <div class="button-post-comment">
                        <button ng-if="isLoggedIn" class="button button-positive" ng-disabled="!newReplyForm.$valid" ng-click="postComment(comment.id, comment.newReply); comment.newReply.content = ''">
                            POSTAVI KOMENTAR
                        </button>
                        <button ng-if="!isLoggedIn" class="button button-positive" ng-disabled="!newReplyForm.$valid" ng-click="openAuthPopup(comment.id, comment.newReply)">
                            POSTAVI KOMENTAR
                        </button>
                    </div>
                </form>
            </div>
            <div class="author-row padding replay-comment-padding" ng-repeat="reply in comment.replies">
                <div class="author-image"></div>
                <div class="">
                    <div><b>{{reply.author_name}}</b></div>
                    <div class="comment-time">{{reply.date | amCalendar:referenceTime:formats}}</div>
                </div>
                <div class="desc-comment">
                    <p ng-bind-html="reply.content.rendered"></p>
                </div>
            </div>
            <button class="button button-clear button-positive" ng-if="comment.hasMoreReplies" ng-click="loadMoreReplies(comment)">Učitaj više odgovora</button>
        </div>
        <button class="button button-clear button-positive" ng-if="post.hasMoreComments" ng-click="loadMoreComments()">Učitaj više komentara</button>
        <div>
            <div class="title-reaction">
                <h3>POSTAVI KOMENTAR</h3>
            </div>
            <div class="desc-comments-add">
                <p>Your email address will not be published. Required fields are marked*</p>
            </div>
            <form name="newCommentForm" id="postcomment">
                <div class="comments-in-comment">
                    <textarea rows="8" placeholder="Comment*" aria-required="true" ng-model="newComment.content" required></textarea>
                </div>
                <div class="button-post-comment">
                    <button ng-if="isLoggedIn" class="button button-positive" ng-disabled="!newCommentForm.$valid" ng-click="postComment(0, newComment)">
                        POSTAVI KOMENTAR
                    </button>
                    <button ng-if="!isLoggedIn" class="button button-positive" ng-disabled="!newCommentForm.$valid" ng-click="openAuthPopup(0, newComment)">
                        POSTAVI KOMENTAR
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
