<div class="popup-content">
    <div class="text-center">
        <button class="button icon-left ion-social-facebook button-positive btn-facebook custom-button">CONNECT WITH FACEBOOK</button>
        <p class="snax-divider-or custom-style"><span class="proba">or</span></p>
        <form name="loginForm">
            <div class="input-name-comment">
                <input class="custom-input" placeholder="Korisničko ime*" type="text" ng-model="credentials.username" required>
            </div>
            <div class="input-name-comment">
                <input class="custom-input" placeholder="Šifra*" type="password" ng-model="credentials.password" required>
            </div>
            <div class="button-post-comment">
                <button class="button button-positive custom-button" ng-click="login(credentials)">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
