.popup {
  width: 90% !important;
  background-color: white!important;
  border-radius: 4px!important;
}
.popup-head {
  display: none;
}
.popup-body {
  border-radius: 9px!important;
  padding: 20px!important;
}
.custom-button {
  width: 100%;
  font-weight: 700;
  background-color: #2d5f9a!important;
}
.custom-style {
  color: black!important;
  margin-top: 20px!important;
  margin-bottom: 30px!important;
}
.snax .snax-divider-or {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.proba:before {
  display: block;
  width: 131px;
  height: 11px;
  border-width: 1px 0 0;
  /* margin-right: 20px; */
  position: sticky;
  z-index: 1;
  /* right: -17%; */
  /* left: auto; */
  top: 50%;
  border-style: solid;
  content: "";
  opacity: .1667;
}
.proba:after {
  display: block;
  width: 131px;
  height: 11px;
  border-width: 1px 0 0;
  /* margin-left: 20px; */
  position: sticky;
  z-index: 1;
  left: 100%;
  /* right: auto; */
  margin-top: -9px;
  border-style: solid;
  content: "";
  opacity: .1667;
}
.custom-input {
  padding-left: 10px!important;
}