<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link rel="manifest" href="manifest.json">

        <link href="css/ionic.app.min.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="lib/ngCordova/dist/ng-cordova.js"></script>
        <script src="lib/moment/moment.js"></script>
        <script src="lib/moment/locale/me.js"></script>
        <script src="lib/angular-moment/angular-moment.min.js"></script>
        <script src="lib/ngstorage/ngStorage.min.js"></script>
        <script src="lib/ionic-close-popup/ionic-close-popup.js"></script>
        <script src="cordova.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <!-- Interceptor -->
        <script src="js/http.interceptor.js"></script>

        <!-- Controllers -->
        <script src="templates/home/tabs/home-tabs.controller.js"></script>
        <script src="templates/home/tabs/tab-hot/tab-hot.controller.js"></script>
        <script src="templates/home/tabs/tab-latest/tab-latest.controller.js"></script>
        <script src="templates/home/tabs/tab-popular/tab-popular.controller.js"></script>
        <script src="templates/home/tabs/tab-trending/tab-trending.controller.js"></script>
        <script src="templates/single-post/single-post.controller.js"></script>
        <script src="templates/category/category.controller.js"></script>
        <script src="templates/search/search.controller.js"></script>
        <script src="templates/profile/profile.controller.js"></script>
        <script src="templates/top-ten/top-ten.controller.js"></script>
        <script src="templates/new-post/new-post.controller.js"></script>

        <!-- Services -->
        <script src="js/auth.service.js"></script>
        <script src="templates/home/tabs/tab-latest/tab-latest.service.js"></script>
        <script src="templates/home/tabs/tab-popular/tab-popular.service.js"></script>
        <script src="templates/home/tabs/tab-hot/tab-hot.service.js"></script>
        <script src="templates/home/tabs/tab-trending/tab-trending.services.js"></script>
        <script src="templates/category/category.service.js"></script>
        <script src="templates/top-ten/top-ten.service.js"></script>
        <script src="templates/single-post/single-post.service.js"></script>
        <script src="templates/search/search.service.js"></script>
        <script src="templates/profile/profile.service.js"></script>
        <script src="templates/new-post/new-post.service.js"></script>

        <!-- Directives -->
        <script src="js/directives/nativeTransitions.directive.js"></script>
        <script src="js/directives/scrollableTabs.js"></script>
    </head>
    <body ng-app="app">
        <div class="herald-loader" ng-if="rootLoader">
            <div class="loader">Loading...</div>
        </div>
        <ion-nav-view></ion-nav-view>
    </body>
</html>
