<div class="popup-content choose-category-popup">
    <ion-list>
        <ion-radio class="category-item" ng-click="choose(category)" ng-model="choosedCategory" ng-value="category" ng-repeat="category in categories">{{category.name}}</ion-radio>
    </ion-list>
</div>