<ion-tabs scrollable-tab class="tabs-top tabs-icon-top scad-tabs">
    <ion-tab title="NAJNOVIJE" icon-on="fa fa-clock-o" icon-off="fa fa-clock-o" href="#/app/home/latest">
        <ion-nav-view name="tab-latest"></ion-nav-view>
    </ion-tab>
    <ion-tab title="POPULARNO" icon-on="fa fa-star" icon-off="fa fa-star" href="#/app/home/popular">
        <ion-nav-view name="tab-popular"></ion-nav-view>
    </ion-tab>
    <ion-tab title="NAJISTAKNUTIJE" icon-on="ion-fireball" icon-off="ion-fireball" href="#/app/home/hot">
        <ion-nav-view name="tab-hot"></ion-nav-view>
    </ion-tab>
    <ion-tab title="U TRENDU" icon-on="ion-arrow-graph-up-right" icon-off="ion-arrow-graph-up-right" href="#/app/home/trending">
        <ion-nav-view name="tab-trending"></ion-nav-view>
    </ion-tab>
</ion-tabs>