.tabs-top>.tabs, .tabs.tabs-top {
  top: 50px !important;
  background: #1976d2;
  color: #ffffff;
}
.tab-item .icon {
  font-size: 22px;
  margin-top: 7px;
  margin-bottom: -7px;
}
.tab-title {
  font-size: 12px;
}
.tabs-content {
  top: 98px !important;
}
.tabs-top.tabs-striped .tab-item.activated, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.tab-item-active {
  margin-top: 0;
  border: none !important;
}
.tabs-top.tabs-striped .tab-item.activated>.badge, .tabs-top.tabs-striped .tab-item.activated>i, .tabs-top.tabs-striped .tab-item.active>.badge, .tabs-top.tabs-striped .tab-item.active>i, .tabs-top.tabs-striped .tab-item.tab-item-active>.badge, .tabs-top.tabs-striped .tab-item.tab-item-active>i {
  margin-top: 7px !important;
}
.scad-tabs .tab-item {
  max-width: initial !important;
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
}
.myScroll a {
  display: inline;
}
.allLinks {
  margin-right: 10px !important;
  margin-left: 10px !important;
}