<ion-popover-view>
    <ion-content>
        <ion-list class="menu-list-dropdown">
            <ion-item ui-sref="app.profile" class="active-menu" ui-sref-active="active-menu">
                Profil
            </ion-item>
            <ion-item ng-click="logout()">
                Odjavi se
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>