<ion-view>
    <ion-content class="category-content">
        <ion-refresher
                pulling-text="Učitavanje..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-repeat="post in posts">
            <div class="card" ng-click="goSingle(post)">
                <div class="row no-padding">
                    <div class="col text-left no-padding">
                        <div class="category-list-circle"></div>
                    </div>
                </div>
                <div class="row card-img-padding">
                    <div class="col card-img-padding">
                        <img ng-src="{{post._embedded['wp:featuredmedia'][0].source_url}}" alt="Post featured image">
                    </div>
                </div>
                <div class="comment-div" ng-click="$event.stopPropagation(); goSingleComments(post)">
                    <i class="ion-ios-chatbubble comment-icon"></i>
                    <span>{{post.comments_count}}</span>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="category-post-title" ng-bind-html="post.title.rendered"></h3>
                    </div>
                </div>
                <div class="author-row padding">
                    <div class="author-image"></div>
                    <div class="author-info">
                        <div class="author-name">autor <span>{{post._embedded.author[0].name}}</span></div>
                        <div class="author-date">{{post.date | amCalendar:referenceTime:formats}}</div>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
                immediate-check="false"
                icon="loader"
                on-infinite="loadMore()"
                ng-if="moredata">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>