.category-content {
  background: $greyBackground;
  .category-post-title {
    @extend .post-title;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .category-list-circle {
    @extend .category-circle;
    float: left;
    position: absolute;
    margin-top: -13px;
    margin-left: 10px;
  }
  .comment-div {
    background: #ffffff;
    width: 42px;
    height: 21px;
    position: absolute;
    margin-top: -26px;
    padding-left: 3px;
    padding-right: 5px;
    display: table;
    color: #999;
  }
  .comment-div .comment-icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
  }
  .comment-div span {
    @extend .comment-icon;
    font-size: 14px;
  }
}