.new-post-page {
  background: $greyBackground;
}
.new-post-form {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
}
.add-post-button {
  background: $appBlue !important;
  border-radius: 50% !important;
  color: #ffffff !important;
  min-width: 35px !important;
  min-height: 35px !important;
  line-height: 35px !important;
  padding: 0 9px !important;
  float: left;
}
.add-post-button:before {
  line-height: 36px !important;
  padding: 0 !important;
}
.add-new-post-alt {
  display: table;
  height: 38px;
  padding-left: 10px;
  font-weight: bold;
}
.add-new-post-alt span {
  color: $appBlue;
  display: table-cell;
  vertical-align: middle;
}
.separator {
  border: 1px solid #f0f2f4;
}
.new-post-title-avatar {
  float: left;
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 2px;
}
.new-post-title-input {
  height: 40px;
}
.new-post-title-input input {
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  width: 85%;
  color: $greyFont;
  font-weight: 500;
}
.new-post-title-input input::-webkit-input-placeholder {
  color: $greyFont !important;
}
.new-post-title-input input::-moz-placeholder {
  color: $greyFont !important;
}
.new-post-title-input input:-ms-input-placeholder {
  color: $greyFont !important;
}
.new-post-title-input input:placeholder {
  color: $greyFont !important;
}
.new-post-description {
  border: 1px solid $greyFont;
  border-radius: 2px;
  margin-top: 25px;
  padding-bottom: 5px;
}
.new-post-description textarea {
  font-size: 16px;
  color: $greyFont;
  font-weight: 500;
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.new-post-description textarea::-webkit-input-placeholder {
  color: $greyFont !important;
}
.new-post-description textarea::-moz-placeholder {
  color: $greyFont !important;
}
.new-post-description textarea:-ms-input-placeholder {
  color: $greyFont !important;
}
.new-post-description textarea:placeholder {
  color: $greyFont !important;
}
.add-media-btns {
  margin-top: 25px;
  height: 100px;
}
.add-photo-btn {
  border: dashed 1px $greyFont;
  width: 49%;
  height: 100px;
  float: left;
  display: table;
}
.add-video-btn {
  @extend .add-photo-btn;
  float: right;
}
.add-media-btn-text {
  font-size: 24px;
  color: $greyFont;
  display: table-cell;
  vertical-align: middle;
}
.add-media-btn-second {
  display: table;
  height: 17px;
  margin: 0 auto;
  margin-top: 4px;
}
.add-media-btn-second img {
  height: 17px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 5px;
}
.add-media-btn-second span {
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
}
.video-url {
  margin-top: 25px;
  border: 1px solid $greyFont;
  border-radius: 2px;
  padding-left: 10px;
  height: 43px;
}
.video-url-input {
  height: 40px;
  float: left;
  width: 74%;
}
.video-url-input input {
  height: 40px;
  font-size: 16px;
  color: $greyFont;
  font-weight: 500;
  width: 100%;
}
.video-url-input input::-webkit-input-placeholder {
  color: $greyFont !important;
}
.video-url-input input::-moz-placeholder {
  color: $greyFont !important;
}
.video-url-input input:-ms-input-placeholder {
  color: $greyFont !important;
}
.video-url-input input:placeholder {
  color: $greyFont !important;
}
.add-video-url-btn {
  float: right;
  height: 40px;
}
.add-video-url-btn button {
  min-height: 40px !important;
  line-height: 39px !important;
  border-left: 1px solid $greyFont;
  background: #ffffff;
  color: $greyFont;
}
.separator-top {
  margin-top: 30px;
}
.submit-form-btn {
  margin-top: 15px;
}
.submit-form-btn button {
  background: $appBlue;
  color: #ffffff;
}
.category-input {
  @extend .video-url;
  padding-right: 10px;
  font-size: 16px;
  color: $greyFont;
}
.choose-category-text {
  float: left;
  height: 43px;
  display: table;
}
.choose-category-text span {
  display: table-cell;
  vertical-align: middle;
}
.choose-category-icon {
  @extend .choose-category-text;
  float: right;
}
.choose-category-icon i {
  display: table-cell;
  vertical-align: middle;
}