<ion-view>
    <ion-content class="new-post-page padding">
        <div class="new-post-form">
            <div class="row">
                <div class="col">
                    <button class="button icon ion-plus-round add-post-button"></button>
                    <div class="add-new-post-alt">
                        <span>Dodaj novu objavu</span>
                    </div>
                </div>
            </div>
            <hr class="separator">
            <form name="createPost">
                <div class="row">
                    <div class="col">
                        <div class="new-post-title">
                            <div class="new-post-title-avatar"></div>
                            <div class="new-post-title-input">
                                <input placeholder="Naslov objave..." type="text" name="title" ng-model="post.title"
                                       required>
                            </div>
                        </div>
                        <div class="new-post-description">
                    <textarea placeholder="Dodaj opis objave..." name="description" ng-model="post.content"
                              required></textarea>
                        </div>
                        <div class="add-media-btns">
                            <div class="add-photo-btn">
                                <div class="add-media-btn-text text-center">
                                    <i class="icon ion-plus-round"></i>
                                    <div class="add-media-btn-second">
                                        <img src="img/add-photo.png">
                                        <span>Dodaj fotografiju</span>
                                    </div>
                                </div>
                            </div>
                            <div class="add-video-btn" ng-click="canAddVideo = !canAddVideo">
                                <div class="add-media-btn-text text-center">
                                    <i class="icon ion-plus-round"></i>
                                    <div class="add-media-btn-second">
                                        <img src="img/add-video.png">
                                        <span>Dodaj video</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-url" ng-if="canAddVideo">
                            <div class="video-url-input">
                                <input placeholder="http://" type="text" name="videourl" ng-model="post.videourl">
                            </div>
                            <div class="add-video-url-btn">
                                <button class="button">Dodaj</button>
                            </div>
                        </div>
                        <div class="category-input" ng-click="chooseCategory()">
                            <div class="choose-category-text">
                                <span>{{categoryPlaceholder}}</span>
                            </div>
                            <div class="choose-category-icon">
                                <i class="icon ion-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator separator-top">
                <div class="row">
                    <div class="col">
                        <div class="submit-form-btn text-right">
                            <button class="button" ng-click="create()" ng-disabled="!createPost.$valid || choosedCategory == null">Postavi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>