.no-results-msg {
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 120px);
  height: calc(100vh - 120px);
}
.no-results-msg span {
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}